{% extends "base.html" %}
{% block content %}
<section class="max-w-7xl mx-auto mt-20 px-10">
    <div>
        <h3 class="text-3xl font-semibold mb-10">Categories</h3>
        <div class="flex gap-10 flex-wrap">
                    {% for category in context %}
                    <div class="p-5 rounded-md w-fit bg-[#e4d7b4]">
                        <p class="text-center font-medium text-xl">{{ category.title }}</p>
                        <p class="text-sm font-medium">Total images: <span class="font-bold">{{ category.sub_files.count }}</span></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <h3 class="font-semibold text-3xl mt-16 mb-10">Uploads</h3>
            <div class="flex gap-5 flex-wrap text-white font-medium">
                <a href="{% url "add_category" %}"><button class="px-10 py-3 rounded-xl bg-[#2e282a] hover:bg-[#252122] w-full">Create new category</button></a>
                <a href="{% url "add_files" %}?type=I" ><button class="px-10 py-3 rounded-xl bg-[#2e282a] hover:bg-[#252122] w-full">Upload Images</button></a>
                <a href="{% url "add_files" %}?type=V" ><button class="px-10 py-3 rounded-xl bg-[#2e282a] hover:bg-[#252122] w-full">Upload Videos</button></a>
            </div>
        </section>
        {% endblock content %}
    {% comment %} </body>
</html> {% endcomment %}