{% extends "base.html" %}
{% block content %}

<div class="flex flex-wrap">
    {% for image in context %}
        <div class="max-w-[400px]">
            {% if image.file_type == "I" %}
                <img src="{{ image.file.url }}"/>
            {% else %}
                <video controls>
                    <source src="{{image.file.url}}">
                    Your browser does not support the video tag.
                </video> 
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock content %}